{
    "branch": "master",
    "analyzeCommits": {
        "preset": "eslint"
    },
    "verifyConditions": ["@semantic-release/changelog", "@semantic-release/github"],
    "prepare": [
        "@semantic-release/changelog",
        "@semantic-release/npm",
        {
            "path": "@semantic-release/git",
            "assets": ["package.json", "Resources/Public"],
            "message": "Build: Release ${nextRelease.version}"
        }
    ],
    "publish": ["@semantic-release/github"]
}
